body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    display: flex;
    justify-content: flex-start;
    background-color: darkblue;
    color: white;
    padding: 15px;
    align-items: center;
    border-bottom: 2px solid red;
    width: 100%;
}

.brand-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.nav-links a {
    color: white;
    background-color: blue;
    border-radius: 8px;
    padding: 5px 10px;
    margin: 10px;
    font-size: 14px;
}

a {
    text-decoration: none;
    font-weight: bold;
}
.contact {
    color:green;
}
footer {
    background-color: darkblue;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 15px;
    bottom: 0;
    width: 100%;
}
.product {
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
    margin-top: 10px;
}

/*---HOME PAGE ONLY---*/
.logo {
            width: 80px;
            display: block;
            margin-right: 20px auto;
            border: 2px solid orange;
            border-radius:50%;
        }
           .content {
            text-align: center;
            padding: 20px;
        }

/*---CONTACT PAGE ONLY---*/
.business-hours {
            background-color: aliceblue;
            padding: 15px;
            margin-top: 20px;
            border-radius: 8px;
        }
.info h3 {
            color: blue;
            border-bottom: 2px solid blue;
            display: inline-block;
            padding-bottom: 1px;
        }
.info {
            max-width: 600px;
            margin: 30px auto;
            padding: 20px;
            text-align: center;
            color: black;
            margin-bottom: 100px;
        }